#Title of Project

*IRIS* *FLOWER* CLASSIFICATION

#Objective

*The object of the iris flower classification is to predict flowers based on their specific features.*

#Data Source

'https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv'

#IMPORT LIBRARYS

In [3]:
import pandas as pd

In [4]:
import numpy as np

#IMPORT DATASET

In [5]:
iris = pd.read_csv(r'https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')

In [6]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [7]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [8]:
iris.columns

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

In [9]:
iris.shape

(150, 5)

In [10]:
y = iris['variety']

In [11]:
y.shape
y

0         Setosa
1         Setosa
2         Setosa
3         Setosa
4         Setosa
         ...
145    Virginica
146    Virginica
147    Virginica
148    Virginica
149    Virginica
Name: variety, Length: 150, dtype: object

In [12]:
x = iris[['sepal.length', 'sepal.width', 'petal.length', 'petal.width']]

In [13]:
x.shape

(150, 4)

In [14]:
x

     sepal.length  sepal.width  petal.length  petal.width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

#GET THE FEATURE CONVERTED TO TOKENS

In [24]:
iris[['variety']].value_counts()

variety
0          50
1          50
2          50
dtype: int64

In [25]:
iris.replace({'variety' : {'Setosa':0,'Versicolor':1,'Virginica':2}},inplace = True)

In [26]:
iris[['variety']].value_counts()

variety
0          50
1          50
2          50
dtype: int64

In [27]:
y = iris[['variety']]

In [28]:
y

     variety
0          0
1          0
2          0
3          0
4          0
..       ...
145        2
146        2
147        2
148        2
149        2

[150 rows x 1 columns]

#TRAIN TEST AND SPLIT

In [29]:
from sklearn.model_selection import train_test_split

In [42]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state=2529)

In [43]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((105, 4), (45, 4), (105, 1), (45, 1))

#THE FIT MODEL

In [44]:
from sklearn.ensemble import RandomForestClassifier

In [45]:
model = RandomForestClassifier()

In [46]:
model.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [47]:
RandomForestClassifier()

RandomForestClassifier()

In [48]:
y_pred = model.predict(x_test)

#Accuracy And predction

In [49]:
from sklearn.metrics import classification_report, confusion_matrix

In [50]:
confusion_matrix(y_test, y_pred)

array([[14,  0,  0],
       [ 0,  9,  0],
       [ 0,  2, 20]])

In [51]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        14
           1       0.82      1.00      0.90         9
           2       1.00      0.91      0.95        22

    accuracy                           0.96        45
   macro avg       0.94      0.97      0.95        45
weighted avg       0.96      0.96      0.96        45